# Ignore node modules
node_modules/

# Ignore .env file
.env

# Ignore all .log files
*.log

# Ignore all .tmp files inside any folder
**/*.tmp

# Ignore build output
bin/
obj/

# Ignore VSCode settings (optional)
.vscode/